* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, li, a {
    font: inherit;
}

body {
    background: #EDEDED;
    padding: 2em;
}

.site {
    background: #F8F8F8;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.1);
}

.site header h1 a{
    display: block;
    color: #009900;
    text-decoration: none;
    padding: 2rem;
}

.site header nav > ul {
    display: flex;
    flex-direction: column;
}

.site nav ul li {
    display: block;
    background: #444444;
    list-style: none;
    flex: 1 0 auto;
}

.site header nav ul li a {
    display: block;
    color: #d1d1d1;
    text-decoration: none;
    padding: 0.5em 0.8em;
    text-align: center;
    border: 1px solid whitesmoke;
}

.site header nav ul li a:hover {
    background: darkorange;
}

.site .main-content {
    display: flex;
    gap: 2em;
    padding: 2em;
}

.site .main-content p {
    margin-top: 1em;
}

.site footer {
    background: #444444;
}

.site footer p {
    padding: 0.5em;
    text-align: center;
    color: #d1d1d1;
}

@media (min-width: 600px) {
    .site header nav > ul {
        display: flex;
        flex-direction: row;
    }

    .site header nav ul li a {
        text-align: left;
        border: none;
    }

}


