.flex-container {
    border: 2px solid blue;
    width: 320px;
    display: flex;
    padding: 1em;
}

.flex-item {
    border: 1px solid black;
    padding: 1em;
    background: #ccc;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}