@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px / 1.5 "Kode Mono", sans-serif;
}

body, input, button, textarea, label {
    font: inherit;
}

body {
    padding: 2em;
    background-color: #C1BDBA;
}

form {
    max-width: 750px;
    padding: 4em;
    background-color: #24333C;
    color: white;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    margin: 0 auto;
}

form ul {
    display: flex;
    white-space: nowrap;
}

form ul li {
    display: block;
    list-style: none outside;
    flex: 1 1 auto;
}

form ul li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.4em 0;
    text-align: center;
    font-size: 1.5em;
}

.current {
    background-color: #1AB188;
}

.login {
    background-color: #435359;
    color: #92999B;
}

.login:hover {
    background-color: #8B999E;
    color: white;
}

form h2 {
    font-weight: normal;
    text-align: center;
    font-size: 2em;
    margin: 2rem 0;
}

.flex {
    display: flex;
    gap: 2em;
}

.flex .field {
    flex: 1 1 auto;
}

.field {
    margin-bottom: 2em;
    position: relative;
}

.field input {
    display: block;
    background-color: inherit;
    outline: none;
    border: 1px solid #92999B;
    width: 100%;
    padding: 1em;
    color: #8B999E;
}

.field input:focus ~ label {
    display: none;
}

.field label {
    display: block;
    color: #8B999E;
    position: absolute;
    top: 0.25em;
    left: 0;
    padding: 0.3em 0.5em;
    line-height: 1;
    font-size: 1.5em;
    white-space: nowrap;
}

.field input:required ~ label::after {
    content: '*';
    padding: 0.2em;
    color: #1AB188;
}

input[type="submit"] {
    background-color: #1AB188;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 2em;
    border: none;
}